- name: yum install python mysql for ansible
  become: true
  yum:
    state: present
    name: python2-PyMySQL
  when: ansible_pkg_mgr == "yum"

- name: dnf install python mysql for ansible
  become: true
  dnf:
    state: present
    name: python3-PyMySQL
  when: ansible_pkg_mgr == "dnf"

- name: apt install python mysql for ansible
  become: true
  apt:
    state: present
    name: python3-pymysql
  when: ansible_pkg_mgr == "apt"

- name: set no password for root user
  become: true
  community.mysql.mysql_query:
    login_unix_socket: '{{ mariadb.socket }}'
    login_user: root
    query:
      - ALTER USER 'root'@'localhost' IDENTIFIED BY '';
      - FLUSH PRIVILEGES;

- name: create admin user
  become: true
  community.mysql.mysql_user:
    login_unix_socket: '{{ mariadb.socket }}'
    login_user: root
    state: present
    name: '{{ mariadb.admin.name }}'
    host: localhost
    password: '{{ mariadb.admin.password }}'
    priv: '*.*:ALL'

- name: create ansible user
  become: true
  community.mysql.mysql_user:
    login_unix_socket: '{{ mariadb.socket }}'
    login_user: root
    state: present
    name: '{{ ansible_user }}'
    host: localhost
    priv: '*.*:ALL'
